.App{
  display: flex;
  justify-content: start;
  width:100vw;
  max-width: 100vw;
  flex-wrap: wrap;
  
}
.in1, .in2{
  width:100vw;
  display: flex;
  justify-content: space-around;
}
.nave,.faq{
  margin-bottom:50px;
}

.nav1{
  background-color: rgb(157, 38, 70) !important;
}